# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [4]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('chipotle.csv', sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [44]:
maximo = chipo[chipo["item_price"] == chipo["item_price"].max()]
print(maximo["item_name"].values, chipo["item_price"].max(), "$")

['Chips and Fresh Tomato Salsa'] 44.25 $

### Step 4. How many products cost more than $10.00?

In [ ]:
mas = chipo[chipo["item_price"] > 10.] # productos que valen más de 10
mas = mas["item_name"].value_counts() # conteo de dichos productos filtrados por su nombre
mas_de = len(list(mas.index)) # longitud de la lista de esos nombres, o  lo que es lo mismo, la cantidad de productos que valen más de 10
print(mas_de, "productos que valen más de 10")
print("Los cuales son:", mas)

31 productos que valen más de 10
Los cuales son: item_name
Chicken Bowl                    304
Chicken Burrito                 210
Steak Burrito                   139
Steak Bowl                       95
Chicken Salad Bowl               54
Veggie Bowl                      47
Veggie Burrito                   37
Carnitas Bowl                    32
Chicken Soft Tacos               30
Barbacoa Bowl                    27
Barbacoa Burrito                 24
Carnitas Burrito                 20
Steak Salad Bowl                 19
Chicken Crispy Tacos             18
Steak Crispy Tacos               12
Steak Soft Tacos                 10
Veggie Salad Bowl                10
Barbacoa Soft Tacos               8
Barbacoa Crispy Tacos             5
Barbacoa Salad Bowl               5
Carnitas Salad Bowl               4
Veggie Soft Tacos                 3
Carnitas Crispy Tacos             3
Carnitas Soft Tacos               3
Chicken Salad                     2
Chips and Guacamole               2
Chips and Fresh Tomato Salsa      2
Bottled Water                     2
Bowl                              1
6 Pack Soft Drink                 1
Side of Chips                     1
Name: count, dtype: int64

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [141]:
mas = chipo[(chipo["item_price"] > 10.) & (chipo["quantity"] == 1)] # Productos de +de 10 y que solo se haya pedido 1 cantidad de ese producto
mas = mas["order_id"].value_counts() # conteo de las id que cumplan la condición anterior
mas = mas[mas == 1].index.tolist() # creación de una lista con los productos que se hayan pedido una vez y que su id sea única
mas = len(mas)
print(mas, "pedidos que valen más de 10 pidiendo solo 1 producto")
print("No es lo mismo ya que en el apartado anterior estaba pidiendo la cantidad de\nproductos que valiesenn más de 10, y en este está pidiendo los pedidos que no solo\nvalen más de 10 sino que además sea solo 1 producto, por lo que su orden_id y\nsu quantity tiene que ser 1")

561 pedidos que valen más de 10 pidiendo solo 1 producto
No es lo mismo ya que en el apartado anterior estaba pidiendo la cantidad de
productos que valiesenn más de 10, y en este está pidiendo los pedidos que no solo
valen más de 10 sino que además sea solo 1 producto, por lo que su orden_id y
su quantity tiene que ser 1

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [ ]:
mas = chipo.groupby("order_id")["item_price"].sum()
mas = len(list(mas))
print(mas, "pedidos de más de 10")
print("No es lo mismo porque aquí te está incluyendo los pedidos sin tener en cuenta\nel producto, por lo que si en un pedido hay más de un producto y su precio es mayor de\n10, también cuenta")

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64
1834 pedidos de más de 10
No es lo mismo porque aquí te está incluyendo los pedidos sin tener en cuenta
el producto, por lo que si en un pedido hay más de un producto y su precio es mayor de
10, también cuenta

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [160]:
mas = chipo[(chipo["item_price"] > 10.) & (chipo["quantity"] > 1)] 
mas = mas["order_id"].value_counts()
mas = mas[mas == 1].index.tolist()
mas = len(mas)
print(mas, "pedidos de más de 10")
print("No es lo mismo ya que en este apartado pide que la cantidad de un mismo producto\n(es decir, que haya más de uno), supere los 10")

110 pedidos de más de 10
No es lo mismo ya que en este apartado pide que la cantidad de un mismo producto
(es decir, que haya más de uno), supere los 10

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [177]:
chipo["unit_price"] = chipo["item_price"] / chipo["quantity"]
print(chipo[["item_name", "unit_price"]])

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [164]:
chipo.sort_values(by = ["item_name"])

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [169]:
precio =  chipo["item_price"].idxmax()
cantidad = chipo.loc[precio, "quantity"]
print(cantidad)

15

In [178]:
chipo[["quantity", "item_name", "item_price"]].sort_values(by = ["item_price"], ascending= False).head(1)

      quantity                     item_name  item_price
3598        15  Chips and Fresh Tomato Salsa       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
mask_vegano = chipo["item_name"] == "Veggie Salad Bowl"
print(len(chipo[mask_vegano]))

18

### Step 9. How many times did someone order more than one Canned Soda?

In [10]:
mask_soda = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]
print(len(mask_soda))

20