# Ex - GroupBy

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks = pd.read_csv(url, sep = ",")

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [13]:
drinks.fillna("NA")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [7]:
drinks["beer_servings"].mean()

np.float64(106.16062176165804)

In [8]:
drinks.groupby("continent")[["beer_servings"]].mean() > drinks["beer_servings"].mean()

           beer_servings
continent
AF                 False
AS                 False
EU                  True
OC                 False
SA                  True

In [9]:
drinks.groupby("continent")[["beer_servings"]].mean()[drinks.groupby("continent")[["beer_servings"]].mean() > drinks["beer_servings"].mean()].dropna()

           beer_servings
continent
EU            193.777778
SA            175.083333

In [10]:
mask = drinks.groupby("continent")[["beer_servings"]].mean() == drinks.groupby("continent")[["beer_servings"]].mean().max()
drinks.groupby("continent")[["beer_servings"]].mean().max()

beer_servings    193.777778
dtype: float64

In [11]:
media_conts = drinks.groupby("continent")[["beer_servings"]].mean()
drinks.groupby("continent")[["beer_servings"]].mean()

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

# SoluciÃ³n

In [53]:
drinks.groupby("continent")[["beer_servings"]].mean()[drinks.groupby("continent")[["beer_servings"]].mean() == drinks.groupby("continent")[["beer_servings"]].mean().max()].dropna()

           beer_servings
continent
EU            193.777778

# SoluciÃ³n simplificada

In [60]:
media_conts[mask].dropna()

           beer_servings
continent
EU            193.777778

### Step 5. For each continent print the statistics for wine consumption.

In [33]:
drinks.groupby("continent")[["wine_servings"]].describe()

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [16]:
drinks.groupby("continent").mean(numeric_only=True)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [15]:
drinks.groupby("continent").median(numeric_only= True)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [19]:
drinks.groupby("continent")["spirit_servings"].agg("min", "max", "mean")

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
print("MÃ¡ximo")
print(drinks[["beer_servings", "spirit_servings", "wine_servings"]].max())

MÃ¡ximo
beer_servings      376
spirit_servings    438
wine_servings      370
dtype: int64

In [45]:
print("MÃ­nimo")
print(drinks[["beer_servings", "spirit_servings", "wine_servings"]].min())

MÃ­nimo
beer_servings      0
spirit_servings    0
wine_servings      0
dtype: int64

In [47]:
print("Media")
print(drinks.groupby("continent")[["beer_servings", "spirit_servings", "wine_servings"]].mean())

Media
           beer_servings  spirit_servings  wine_servings
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667