In [1]:
import numpy as np
import pandas as pd

In [2]:
lol = pd.read_csv("games.csv", sep= ",")

In [3]:
lol

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [7]:
from io import StringIO

In [10]:
jDict = pd.read_json('champion_info_2.json')
champInfo = pd.read_json((jDict['data']).to_json(), orient='index')
champInfo.head()

C:\Users\Alumno-14\AppData\Local\Temp\ipykernel_19824\996919512.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  champInfo = pd.read_json((jDict['data']).to_json(), orient='index')

,tags,title,id,key,name
None,[],None,-1,None,None
MonkeyKing,"[Fighter, Tank]",the Monkey King,62,MonkeyKing,Wukong
Jax,"[Fighter, Assassin]",Grandmaster at Arms,24,Jax,Jax
Fiddlesticks,"[Mage, Support]",the Harbinger of Doom,9,Fiddlesticks,Fiddlesticks
Shaco,[Assassin],the Demon Jester,35,Shaco,Shaco

In [14]:
champInfo = champInfo.set_index("name").sort_index()

In [16]:
champInfo

                        tags                   title   id      key
name
Aatrox       [Fighter, Tank]        the Darkin Blade  266   Aatrox
Ahri        [Mage, Assassin]     the Nine-Tailed Fox  103     Ahri
Akali             [Assassin]      the Fist of Shadow   84    Akali
Alistar      [Tank, Support]            the Minotaur   12  Alistar
Amumu           [Tank, Mage]           the Sad Mummy   32    Amumu
...                      ...                     ...  ...      ...
Zac          [Tank, Fighter]       the Secret Weapon  154      Zac
Zed      [Assassin, Fighter]   the Master of Shadows  238      Zed
Ziggs                 [Mage]  the Hexplosives Expert  115    Ziggs
Zilean       [Support, Mage]        the Chronokeeper   26   Zilean
Zyra         [Mage, Support]      Rise of the Thorns  143     Zyra

[139 rows x 4 columns]

In [17]:
spellJson = pd.read_json('summoner_spell_info.json')
spellInfo = pd.read_json((spellJson['data']).to_json(),orient='index')
spellInfo.head()

C:\Users\Alumno-14\AppData\Local\Temp\ipykernel_19824\1656119565.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  spellInfo = pd.read_json((spellJson['data']).to_json(),orient='index')

,id,summonerLevel,name,key,description
1,1,6,Cleanse,SummonerBoost,Removes all disables (excluding suppression an...
3,3,4,Exhaust,SummonerExhaust,"Exhausts target enemy champion, reducing their..."
4,4,8,Flash,SummonerFlash,Teleports your champion a short distance towar...
6,6,1,Ghost,SummonerHaste,Your champion gains increased Movement Speed a...
7,7,1,Heal,SummonerHeal,Restores 90-345 Health (depending on champion ...